@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
/* #### dark-theme */
/* #### light-theme */
* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

body {
  background-color: var(--body-color);
  padding: min(7vw, 1.5rem);
}

main {
  display: flex;
  flex-direction: column;
  gap: min(10vw, 2rem);
}

.card {
  background-color: var(--card-bg);
  padding: min(7vw, 1.5rem);
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  gap: min(7vw, 1.5rem);
  align-items: center;
  position: relative;
}
.card--stats::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.25rem;
  top: 0;
  border-radius: inherit;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.card--stats[data-type=facebook]::after {
  background: hsl(208deg, 92%, 53%);
}
.card--stats[data-type=twitter]::after {
  background: hsl(203deg, 89%, 53%);
}
.card--stats[data-type=instagram]::after {
  background: linear-gradient(to right, hsl(37deg, 97%, 70%), hsl(329deg, 70%, 58%));
}
.card--stats[data-type=youtube]::after {
  background: hsl(348deg, 97%, 39%);
}
.card__platform {
  display: flex;
  gap: min(3vw, 0.5rem);
  align-items: center;
}
.card__handle {
  font-size: 0.8rem;
  color: var(--secondary-text);
}
.card__num {
  color: var(--primary-text);
}
.card__num--stats {
  font-size: 3.6rem;
  font-weight: 700;
  letter-spacing: -2px;
}
.card__num--overview {
  font-size: 2rem;
  font-weight: 700;
}
.card__text {
  font-size: 0.8rem;
  letter-spacing: 0.6ch;
  color: var(--secondary-text);
  margin-top: calc(-1 * min(7vw, 1.5rem));
  text-transform: uppercase;
}
.card__change {
  font-size: 0.8rem;
  font-weight: 700;
  display: flex;
  gap: 0.5ch;
  align-items: center;
}
.card__change--up {
  color: hsl(163deg, 72%, 41%);
}
.card__change--up::before {
  content: url(./images/icon-up.svg);
  display: grid;
}
.card__change--down {
  color: hsl(356deg, 69%, 56%);
}
.card__change--down::before {
  content: url(./images/icon-down.svg);
  display: grid;
}
.card__row {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.card__title {
  font-size: 0.9rem;
  color: var(--secondary-text);
}

.header {
  display: flex;
  flex-direction: column;
  gap: min(7vw, 1.5rem);
}
.header__divider {
  border: 1px solid var(--secondary-text);
  border-right: none;
  border-bottom: none;
}
.header__toggle.toggle {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.title__main {
  font-size: 1.5rem;
  color: var(--primary-text);
}
.title__total {
  font-size: 0.9rem;
  color: var(--secondary-text);
}

.toggle__label {
  font-size: 0.9rem;
  font-weight: 700;
  color: var(--secondary-text);
}
.toggle__input {
  position: absolute;
  opacity: 0;
  top: -100px;
  left: -100px;
}
.toggle__button {
  width: 5ch;
  height: 2.5ch;
  border-radius: 100px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.toggle__input:not(:checked) ~ .toggle__button {
  background-color: hsl(230deg, 22%, 74%);
  justify-content: flex-end;
  color: white;
}
.toggle__input:checked ~ .toggle__button {
  background-image: linear-gradient(to right, hsl(210deg, 78%, 56%), hsl(146deg, 68%, 55%));
  justify-content: flex-start;
  color: var(--body-color);
}
.toggle__knob {
  content: "";
  height: calc(100% - 0.5ch);
  margin: 0.25ch;
  aspect-ratio: 1;
  color: inherit;
  background-color: currentcolor;
  border-radius: 50%;
}

.stats {
  display: flex;
  flex-direction: column;
  gap: min(7vw, 1.5rem);
}

.overview {
  display: flex;
  flex-direction: column;
  gap: min(5vw, 1rem);
}
.overview .overview__title {
  color: var(--secondary-text);
}

.footer {
  font-size: 0.6rem;
  width: 100%;
  text-align: center;
  margin: 2ch auto;
  color: var(--secondary-text);
}
.footer__link {
  color: var(--primary-text);
}/*# sourceMappingURL=style.css.map */