@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

:root {
	/* ### primary */
	--lime-green: hsl(163, 72%, 41%);
	--bright-red: hsl(356, 69%, 56%);

	--facebook: hsl(208, 92%, 53%);
	--twitter: hsl(203, 89%, 53%);
	--instagram: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
	--youtube: hsl(348, 97%, 39%);

	/* #### dark-theme */
	--dt-toggle: linear-gradient(
		to right,
		hsl(210, 78%, 56%),
		hsl(146, 68%, 55%)
	);

	/* #### light-theme */
	--lt-toggle: hsl(230, 22%, 74%);

	--gap-0-5: min(3vw, 0.5rem);
	--gap-1: min(5vw, 1rem);
	--gap-1-5: min(7vw, 1.5rem);
	--gap-2: min(10vw, 2rem);

	--fs-xl: 3.6rem;
	--fs-l: 1.5rem;
	--fs-m: 0.9rem;
	--fs-s: 0.8rem;

	--fw-4: 400;
	--fw-7: 700;
}

* {
	margin: 0;
	padding: 0;
	font-family: "Inter", sans-serif;
}

body {
	background-color: var(--body-color);
	padding: var(--gap-1-5);
}

main {
	display: flex;
	flex-direction: column;
	gap: var(--gap-2);
}

.card {
	background-color: var(--card-bg);
	padding: var(--gap-1-5);
	border-radius: 0.25rem;
}

/* ********** */

.header {
	display: flex;
	flex-direction: column;
	gap: var(--gap-1-5);
}

.title__main {
	font-size: var(--fs-l);
	color: var(--primary-text);
}

.title__total {
	font-size: var(--fs-m);
	color: var(--secondary-text);
}

.header__divider {
	border: 1px solid var(--secondary-text);
	border-right: none;
	border-bottom: none;
}

.header__toggle.toggle {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

/* ********** */

.toggle__label {
	font-size: var(--fs-m);
	font-weight: var(--fw-7);
	color: var(--secondary-text);
}

.toggle__input {
	position: absolute;
	opacity: 0;
	top: -100px;
	left: -100px;
}

.toggle__button {
	width: 5ch;
	height: 2.5ch;
	border-radius: 100px;
	display: flex;
	align-items: center;
	cursor: pointer;
}

.toggle__input:not(:checked) ~ .toggle__button {
	background-color: var(--lt-toggle);
	justify-content: flex-end;
	color: white;
}
.toggle__input:checked ~ .toggle__button {
	background-image: var(--dt-toggle);
	justify-content: flex-start;
	color: var(--body-color);
}

.toggle__knob {
	content: "";
	height: calc(100% - 0.5ch);
	margin: 0.25ch;
	aspect-ratio: 1;
	color: inherit;
	background-color: currentcolor;
	border-radius: 50%;
}

/* ********** */

.stats {
	display: flex;
	flex-direction: column;
	gap: var(--gap-1-5);
}

.card--stats {
	display: flex;
	flex-direction: column;
	gap: var(--gap-1-5);
	align-items: center;
	position: relative;
}

.card--stats::after {
	position: absolute;
	content: "";
	width: 100%;
	height: 0.25rem;
	top: 0;
	border-radius: inherit;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
.card--stats[data-type="facebook"]::after {
	background: var(--facebook);
}
.card--stats[data-type="twitter"]::after {
	background: var(--twitter);
}
.card--stats[data-type="instagram"]::after {
	background: var(--instagram);
}
.card--stats[data-type="youtube"]::after {
	background: var(--youtube);
}

.card__platform {
	display: flex;
	gap: var(--gap-0-5);
	align-items: center;
}

.card__handle {
	font-size: var(--fs-s);
	color: var(--secondary-text);
}

.card__num {
	color: var(--primary-text);
}

.card__num--stats {
	font-size: var(--fs-xl);
	font-weight: var(--fw-7);
	letter-spacing: -2px;
}

.card__text {
	font-size: var(--fs-s);
	letter-spacing: 0.6ch;
	color: var(--secondary-text);
	margin-top: calc(-1 * var(--gap-1-5));
	text-transform: uppercase;
}

.card__change {
	font-size: var(--fs-s);
	font-weight: var(--fw-7);
}

.card__change--up {
	color: var(--lime-green);
}

.card__change--down {
	color: var(--bright-red);
}
